*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}
body{
  background:#101318;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

nav .content{
  display: flex;
  align-items: center;
}

nav .content .links{
  margin-left: 50px;
  display: flex;
}

.content .logo a{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
}

.content .links li{
  list-style: none;
  line-height: 70px;
}

.content .links li a,.content .links li label{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 250ms ease;
}

.content .links li label{
  display: none;
}

.content .links li a:hover,.content .links li label:hover{
  background: #396bbb;
}

.wrapper .search-icon i, .wrapper .menu-icon i{
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon{
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height : 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
}
.wrapper input[type="checkbox"]{
  display: none;
}

.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}

.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #FFFFFF;
  background: #171c24;
}

.search-box input::placeholder{
  color: #F2F2F2;
}

.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #F2F2F2;
  font-size: 20px;
  cursor: pointer;
}

/* -------------------------           DropMenu Code             -------------------------*/

.content .links ul{
  position: absolute;
  background: #171c24;
  top: 70px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 250ms ease;
}

.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 40px;
  border-radius: 0px!important;
}

.content .links ul ul.item1{
  position: absolute;
  top: 0;
  right: calc(-100% - 10px);
}

.content .links ul ul.item2{
  position: absolute;
  top: 0;
  right: calc(-100% + 10.1vw);
}

.content .links ul ul.item3{
  position: absolute;
  top: 0;
  right: calc(-100% + 78px);
}

.content .links ul ul.item4{
  position: absolute;
  top: 0;
  right: calc(-100% + 67px);
}

.content .links ul li{
  position: relative;
}

.content .links ul li:hover > ul{
  top:0;
}

/* -------------------------      Screen goes smaller code       -------------------------*/

@media screen and (max-width:1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
    transition: all 0.5s ease;
  }
  nav .content .links{
    float: right;
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width:900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
    transition: .5 ease;
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181F;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.5s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a, .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px 18px;
    cursor: pointer;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }

  .content .links li a.linky{
    display: none;
  }
  /* -------------------------           DropMenu Code             -------------------------*/

  .content .links ul,
  .content .links ul ul.item1,
  .content .links ul ul.item2,
  .content .links ul ul.item3,
  .content .links ul ul.item4{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
}

  .content .links #show-bakery:checked ~ ul,
  .content .links #show-items:checked ~ ul,
  .content .links #show-items1:checked ~ ul,
  .content .links #show-items2:checked ~ ul,
  .content .links #show-items3:checked ~ ul{
    max-height: 100vh;
}
  .content .links ul li{
    margin: 7px 20px;
  }

  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}