/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2022, 14:32:24
    Author     : Liam.Berge
*/
:root {
    --background: #1a2b34;
}

body {
    background: var(--background);
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
}

.table_no1 {
    text-align: center; 
    border-collapse:  collapse; 
    font-size: 25px;
    width: 70%;
}

#link {
    font-size: 25px;
    font-family: monospace;
}
