/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 oct. 2022, 01:06:38
    Author     : liamb
*/

:root {
    --background: #1a2b34;
    --gray: #334651;
}

body {
    background: var(--background);
    margin: 0;
}

.container{
    position: absolute;
    margin-left: 41.5%;
    border: 10px darkblue ridge;
    width: border-box;
    padding: 10px;
    text-align: center;
}

#content {
    color: #66ccff;
    border: 1px #0099ff solid;
    border-collapse: collapse;
    padding: 20px;
}

#index2-content {
    position: absolute;
    color: #66ccff;
    border: 2px #0099ff solid;
    width: 70px;
    border-radius: 50px;
    border-collapse: collapse;
    padding: 20px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    top: 90%;
}

#page-2-content {
    position: absolute;
    color: #66ccff;
    border: 2px #0099ff solid;
    width: 70px;
    border-radius: 50px;
    border-collapse: collapse;
    padding: 20px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
}


img {
    margin-left: 42%;
    right: 60%;
}
